form(action='/login', method='post')
  #login
    label(for='username') Username
    input(type='text', name='username')
  #password
    label(for='password') Password
    input(type='password', name='password')
  #submit
    input(type='submit') Login
  #error
    input(name="info", id="info")

