<html>
    <head></head>
    <body>
        <form method="post" action="/login">
            <div id="login">
                <label for="username">Username</label>
                <input type="text" name="username">
            </div>
            <div id="password">
                <label for="password">Password</label>
                <input type="password" name="password">
            </div>
            <div id="submit">
                <input type="submit">
            </div>
            <% if (message) { %>
            <p><%= message %></p>
            <% } %>
        </form>
    </body>
</html>